.filter{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    width: 100%;
    height: 100%;
}

.filter-head{
    display: flex;
    height: 45px;
    align-items: center;
    font-size: 14px;
}

.filter-body{
    width: 100%;
    padding: 0 10px;
}

.filter-item{
    box-sizing: border-box;
    outline: none;
    width: 100%;
    background: #fff;
    cursor: pointer;
    margin-bottom: 6px;
    border-bottom: unset;
    align-items: center;
    display: flex;
    justify-content: space-between;
    border-radius: 4px;
}

.filter-item-wrap {
    width: 100%;
    padding: 8px 16px;
}

.filter-item.active{
    border-right: 4px solid rgb(24, 144, 255);
}