.card {
    display: flex;
    flex: 1 1 50%;
    max-height: 50%;
    margin-bottom: 16px;
    flex-direction: column;
    box-sizing: border-box;
    border: 1px solid #f0f0f0;
    background: #fff;
    border-radius: 4px;
    color: #000;
    font-size: 14px;
    font-variant: tabular-nums;
    line-height: 1.5715;
    margin: 0;
    padding: 0;
    position: relative;
}

.card-head {
    display: block;
    font-size: 14px;
    min-height: 36px;
    padding: 0 12px;
    background: transparent;
    border-bottom: 1px solid #f0f0f0;
    border-radius: 4px 4px 0 0;
    font-weight: 500;
    margin-bottom: -1px;
}

.card-head::after, .card-head::before {
    content: "";
    display: table;
}

.card-head::after {
    content: "";
    clear: both;
}

.card-head-wrapper {
    display: flex;
    align-items: center;
    box-sizing: border-box;
}

.card-head-title {
    padding: 8px 0;
    font-family: sans-serif;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 14px;
    box-sizing: border-box;
}

.card-body {
    flex: 1 1 0%;
    display: flex;
    padding: 16px;
    overflow: hidden;
}

.hauto {
    min-height: 150px;
    flex: 1;
}
