#chartContainer {
    width: 100%;
    height: 330px;
}

.doughnut-left, .doughnut-right {
    width: 50%;
    display: flex;
    justify-content: center;
    flex: 1 1 0%;
}

.doughnut {
    display: flex;
    justify-content: center;
    width: 100%;
}