* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #F7F9FB !important;
    width: 100%;
    min-height: 100vh;
}

.container {
    max-width: 1270px;
    margin: 0 auto;
}

.header {
    padding: 10px 0;
    background: #fff;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    /* box-shadow: 1px 1px 8px; */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
}

.logo {
    font-family: monospace;
    font-size: 24px;
}

.progress-wrapper {
    width: 30%;
    aspect-ratio: 1 / 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background: conic-gradient(rgb(201, 196, 196) attr(percentage), green 0);
    border-radius: 50%;
    position: relative;
}

.progress-wrapper::after {
    content: "";
    display: block;
    position: absolute;
    left: 0; right: 0; top: 0; bottom: 0;
    padding-bottom: 100%;
}

.progress-inner {
    width: 85% !important;
    height: 85% !important;
    background: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
}

.icon-wrapper {
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-img {
    width: 20px;
    height: 20px;
    background: url('/src/assets/doc.svg');
}